.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #57b994;
  color: rgb(218, 218, 218);
}

.App-header {
  background-color: #2d263a;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.212);
}

h1 {
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #61dafb;
  border-radius: 5px;
  background-color: rgba(0, 128, 0, 0.3);
  color: white;
}

button {
  padding: 0.5rem 1rem;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: #20232a;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #21a1f1;
}

.welcome-message {
  margin-top: 1.5rem;
}